@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--fonte-corpo);
}

h1,
h2,
h3 {
  font-family: var(--fonte-titulo);
}
